html,
body {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

body>#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waifu {
  height: 40%;
  border: black solid 6px;
  border-radius: 25px;
}